* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: rgb(13, 29, 29);
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  font-family: Lato, sans-serif;
  height: 100vh; 
  margin: 10px;
  
}

#container-logo {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

#container-principal {
  margin: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


img {
  width:  100px;
  height: auto;
  margin-right: 45px
} 